<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="">Home</a> | <a href="projects">Project</a> | <a href="contact">Contact</a>
    </div>
    <div class="aboutme">
        <h1>ABOUT ME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet egestas lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ex nisl, ullamcorper a porta eget, commodo a augue. Morbi a interdum est. In posuere est at nulla sodales pellentesque. Nam vitae mi orci. Morbi efficitur, ante eu ornare suscipit, tellus felis mollis mauris, sed ultrices velit magna non odio. Quisque feugiat libero nec dui aliquet, ac ultricies leo rhoncus.</p>
    </div>
</body>
</html>